@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

html {
  /* Set the base value for rem css unit */
  font-size: 10px;
  height: 100%;
  background: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg)
      no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.2px;
  min-width: 300px;
  color: var(--color-white);
}

#intro {
  box-sizing: border-box;
  padding: 40px 23px 30px;
  width: 710px;
  margin: 0 auto;
}

#title {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.25;
  margin-bottom: 5px;
}

#description {
  font-size: 1.7rem;
  font-style: italic;
  text-align: center;
  font-weight: 200;
}

#survey-form {
  box-sizing: border-box;
  border: 1px solid var(--color-darkblue-alpha);
  border-radius: 5px;
  width: 710px;
  padding: 40px;
  margin: 0 auto;
  background-color: var(--color-darkblue-alpha);
  font-size: 1.75rem;
}

#name,
#email,
#number,
#dropdown,
#dropdown2,
#submit {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 38px;
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: var(--color-darkblue-alpha);
}

#number-label > span {
  font-size: 1.5rem;
}

/* Removing the default radio button */
input[type="radio"] {
  appearance: none;
  /* Chrome/Opera support */
  -webkit-appearance: none;
}

/* Custom radio button */
input[type="radio"] {
  position: relative;
  top: 0.25rem;
  border: 1px solid var(--color-darkblue);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

/* When hovering over cutom radio button */
input[type="radio"]:hover {
  box-shadow: inset -2px -2px 0 4.5px rgb(167, 208, 248);
}

/* When radio button is selected */
input[type="radio"]:checked {
  box-shadow: inset -2px -2px 0 4.5px dodgerblue;
}

/* Disabling the default checkbox */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

/* Adding custom checkbox */
input[type="checkbox"] {
  border: 1px solid black;
  border-radius: 2.5px;
  height: 1.75rem;
  width: 1.75rem;
  vertical-align: text-bottom;
}

/* Adding hover state to the custom checkbox */
input[type="checkbox"]:hover:before {
  position: relative;
  bottom: 0.25em;
  left: 0.1em;
  content: "✔";
  font-size: 1.25em;
  color: var(--color-white);
}

/* Setting background color upon hovering since adding it to :hover:before doesn't apply it correctly */
input[type="checkbox"]:hover {
  background-color: rgb(167, 208, 248);
}

/* Adding checked state to the custom checkbox */
input[type="checkbox"]:checked:before {
  position: relative;
  bottom: 0.25em;
  left: 0.1em;
  content: "✔";
  font-size: 1.25em;
  color: var(--color-white);
}

/* Setting background color upon checking the box since adding it to :checked:before doesn't apply it correctly */
input[type="checkbox"]:checked {
  background-color: dodgerblue;
}

input {
  background-color: var(--color-white);
}

fieldset > legend > span {
  font-size: 1.5rem;
}

#comments {
  display: block;
  min-height: 122px;
  width: 100%;
  resize: vertical;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  color: var(--color-darkblue);
  line-height: 1.25;
}

#submit {
  margin: 2.5rem 0 2rem;
  border: 1px solid var(--color-darkblue-alpha);
  border-radius: 2.5px;
  height: 46px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 1.75rem;
}

#name-label,
#email-label,
#number-label,
label[for="dropdown"],
fieldset > legend,
#check-boxes > label,
label[for="dropdown2"],
label[for="comments"] {
  display: block;
  padding-bottom: 0.55rem;
}

/* Removing padding from the last checkboxes label */
#check-boxes > label:nth-last-child(1) {
  padding-bottom: 0;
}

#radio-buttons > label {
  display: block;
  padding-bottom: 0.3rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
#dropdown,
fieldset,
#dropdown2 {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  #intro,
  #survey-form {
    width: 540px;
  }
}

@media (max-width: 575px) {
  #intro,
  #survey-form {
    width: 100%;
  }
}

@media (max-width: 475px) {
  body #survey-form {
    padding: 40px 10px;
  }
}
